[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/lpaggreg"]
	path = external/lpaggreg
	url = https://github.com/caschb/lpaggreg.git
